body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;
  margin-top: 2rem;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
  height: 50px;
  padding-top: 1%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #404B69;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/crash.png");
}

.k {
  background-image: url("images/kick.png");
}

.l {
  background-image: url("images/snare.png");
}

.set {
  margin: 10% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  
  footer {
    height: 60px;
    padding-top: 1.5%;
    font-size: 0.8rem;
  }
  
  .set {
    margin: 20% auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .drum {
    width: 120px;
    height: 120px;
    font-size: 4rem;
    margin: 5px;
  }
}
